* {
    box-sizing: border-box;
}
body {
    font-size: 15px/1.5;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
.container2 {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  nav {
      float: left; 
      margin-bottom: 30px;
      border: 60px;
      display: inline-block;
      text-indent: 50px;
  }
  li {
    float: left; 
    margin: 10px;
    list-style-type: circle;
    display: inline-block;
    text-indent: 50px;
  }

/* Header-tyylit */

.container h1 {
    stroke: black;
    padding: 6px;
    font-size: 34px;
}
header {
    background-color: #35424a;
    color: #f4f4f4;
    padding: 30px;
    min-height: 70px;
    border-bottom: #a4bd39 3px solid;
}
header #branding img {
    display: block;
    float: left;
    padding: 5px;
    margin: 0px 10px 0px 10px;
    height: 35px;
}
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
header li {
    display: inline;
    padding: 0 20px;
}
header nav {
    float: right;
    margin-top: 15px;
}
#branding img {
    display: block;
    float: left;
    padding: 5px;
    margin: 0 10px 0 10px;
    height:  150px;
    transform: rotate(45deg);
    border: #a4bd39 2px solid;
}

/* Showcase styles */

#showcase {
    min-height: 60px;
    background-image: url(Media/davitts_album_no3_FULLRES_4000x4000.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: greenyellow;  
    text-align: center;
    color: white;
      /* Prefix required. Even Firefox only supports the -webkit- prefix */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
      border-bottom: #a4bd39 3px solid;
}
#showcase h1 {
    
    margin-top: 100px;
}
#showcase p {
    font-size: 22px;
}

/* Newsletter */

#newsletter li {
    text-align: left;
    padding: 10px;
}
.container {
    padding: 10px;
    align-self: center;
}
#newsletter {
    float: right;
    background-color: white;
    min-height: 300px;
    padding: 15px 0;
    text-align: center;
}
#newsletter img {
    float: left;
    height: 100px;
}
#newsletter h2 {
text-align: initial;
    width: 50%;
}
#newsletter form {
    
    text-align: left;
    width: 50%;
}
#newsletter input[type="email"] {
    width: 60%;
    padding:  4px;
    height: 40px;
}

/* Showcase2 */

@media all and (max-width: 675px) {

    a.alignleft {
       width: 100%;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
     }
    }

#showcase2 {
    background-color: #35424a;
    text-align: center;
    color: white;
    padding: 10px;
      /* Prefix required. Even Firefox only supports the -webkit- prefix */
}
#showcase2 h1 {
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}


/* Boxes */

#boxes {
    min-height: 350px;
    background-color: white;
    text-align: center;
    color: black;
}
#boxes img {
    height: 200px;
}

/* Boxes1 */

#boxes1 {
    min-height: 350px;
    background-color: #35424a;
    text-align: center;
    color: white;
    padding: 6px;
    padding-bottom: 60px;
}
#boxes1 img {
    padding: 40px;
    height: 400px;
}
#boxes1 p {
  padding: 6px;
  padding-bottom: 6px;

}
#boxes1 h1 {
    font-size: 60px;
    margin-top: 100px;
}

/* Footer */

#box2 {
    background-color: yellowgreen;
}
#footer {
    text-align-last: center;
}
